	<!--Nav-->
	<nav class="bg-gray-900 p-4 mt-0 w-full">
        <div class="container mx-auto flex items-center">
		    <div class="flex text-white font-extrabold">
				<a class="flex text-white text-base no-underline hover:text-white hover:no-underline" href="#"> 
					👻 <span class="hidden w-0 md:w-auto md:block pl-1">Ghostwind CSS</span>
				</a>
            </div>
			<div class="flex pl-4 text-sm">
				<ul class="list-reset flex justify-between flex-1 md:flex-none items-center">
                    <%# Main Navigation %>
                    <% nav = Spina::Navigation.find_by(name: 'main') %>
                    <% items = nav.navigation_items.regular_pages.sorted.live.in_menu.active %>

                    <% any_page_active = false %>
                    <% nav_items = [].tap do |out| %>
                        <% items.each do |item| %>
                        <% if item.page.materialized_path %>
                            <% active_page = item.page.id == current_page.id || ( current_page.resource.present? && item.page.name == current_page.resource.name ) %>
                            <% out << [item.page.menu_title, item.page.materialized_path, active_page] %>
                            <% any_page_active ||= active_page %>
                        <% end %>
                        <% end %>
                        <% end.each do |item| %>
                        <li class="mr-2">
                            <% classes = [].tap { |out| out << "inline-block py-2 px-2 text-white no-underline"; out << "!text-white" if item[2] || !any_page_active }.join(' ') %>
                            <%= link_to item[0].upcase, item[1], class: classes %>
                        </li>
                    <% end %>

				</ul>
			</div>
        </div>
	</nav>
